[alias]
	# Commit
	ci = commit --cleanup=default
	recommit = commit --cleanup=default --amend
	reci = recommit
	cim = commit --cleanup=default -m
	chdate = !sh -c 'git commit --amend --date=\"$(date +\"%a %b %d %H:%M %Y %z\")\"'
	# Staging area
        unstage = reset HEAD --
	unadd = reset HEAD --
	# Cherry pick
        cp = cherry-pick
	# Rebase interactive
	rb = rebase
        rbi = rb -i
	# Checkout
  	co = checkout
	# Status
	st = status -s
	# Branch
	br = branch --verbose --abbrev
	bra = branch -a --verbose --abbrev
	# Logs
	history = log --pretty=format:'%Cblue%h%Cred%d%Creset %ar %Cgreen%an%Creset %s' --no-merges --reverse
	lo = log --color --pretty=format:'%Cblue%h%C(yellow)%d%Creset | %s | %C(green)%an%Creset | %cr'
	l = lo -10
	lg = lo --graph
	# Status
	sdiff = diff --cached
	fdiff = diff --stat
	# Pull
        pullsubs = submodule foreach "git pull origin master"
        # Remotes
        r = remote -v
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[color]
	ui = auto
[include]
    path = ~/.gitconfig.d/user.conf
[core]
	editor = emacsclient -a \"\" -t
	deltaBaseCacheLimit = 1G
	excludesfile = /home/alex/.gitconfig.d/gitignore
[merge]
	tool = meld
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "sopsdiffer"]
	textconv = sops -d
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[gpg]
	format = ssh
[user]
	signingkey = /home/alex/.ssh/id_rsa
[gpg "ssh"]
	allowedSignersFile = /home/alex/.gitconfig.d/allowed_signers
[commit]
	gpgsign = true
