[alias]
	# Commit
	ci = commit --cleanup=default
	recommit = commit --cleanup=default --amend
	reci = commit --cleanup=default --amend
	cim = commit --cleanup=default -m
	chdate = !sh -c 'git commit --amend --date=\"$(date +\"%a %b %d %H:%M %Y %z\")\"'
	# Staging area
        unstage = reset HEAD --
	unadd = reset HEAD --
	# Cherry pick
        cp = cherry-pick
	# Rebase interactive
	rb = rebase -i
	# Checkout
  	co = checkout
	# Status
	st = status -s
	# Branch
	br = branch --verbose --abbrev
	bra = branch -a --verbose --abbrev
	# Logs
	history = log --pretty=format:'%Cblue%h%Cred%d%Creset %ar %Cgreen%an%Creset %s' --no-merges --reverse
	lo = log --pretty=format:'%Cblue%h%Cred%d%Creset %ar %Cgreen%an%Creset %s'
	l = !sh -c 'git log --pretty=format:\"%Cblue%h%Cred%d%Creset %ar %Cgreen%an%Creset %s\" -10 $* | cat && echo' -
	last = log --pretty=format:'%Cblue%h%d%Creset %ar %Cgreen%an%Creset %s' -1 HEAD
	# Status
	sdiff = diff --cached
	fdiff = diff --stat
	# Pull
        pullsubs = submodule foreach "git pull origin master"
        # Remotes
        r = remote -v
[color]
	ui = auto
[include]
    path = ~/.gitconfig.d/user.conf
[core]
	editor = emacsclient -a \"\" -t
	deltaBaseCacheLimit = 1G
[merge]
	tool = meld
